#timeline-controls {
    position: absolute;
    bottom: 170px;
    color: var(--color-highlight);
    display: block;
    background: #3b3b3ba6;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    font-family: var(--serif-font);
    transition: all .4s ease-in-out;
    user-select: none;
    --webkit-user-select: none;
}


body.datepicker-hidden #timeline-controls {
    bottom: 70px;
}

#timeline-controls.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    pointer-events: none;
}

.timer-display {
    text-align: center;
}

#current-date {
    display: block;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#time-slider {
    flex-grow: 1;
    cursor: pointer;
    accent-color: var(--color-highlight);
}

.time-bounds {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-self: end;
}

.time-display {
    transition: all 0.3s ease;
    height: 40px;
    line-height: 2.6em;
    overflow: hidden;
    white-space: nowrap;
}

.time-display.hidden {
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}